.container {
    padding: 3.2rem;
    background-color: var(--light-black);

}

.slider_meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--white-plae);
}

.slider_meta>span+span {
    color: var(--bright-green);
    font-size: 3.2rem;
}

#slider {
    overflow: hidden;
    width: 100%;
    height: 2.8rem;
    outline: none;
    padding: 1.6rem 0 3.2rem 0;
    background-color: var(--light-black);
}

#slider::-moz-range-track {
    background-color: var(--black);
    height: 0.8rem;
}

#slider::-moz-range-progress {
    background-color: var(--bright-green);
    height: 0.8rem;
}

#slider::-moz-range-thumb {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    cursor: pointer;
}

.checkboxContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15.2rem;
}

.checkboxContainer>label {
    line-height: 2.4rem;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: capitalize;
    color: var(--white-plae);
}

.filterContainer {
    display: flex;
}

.filterContainer>label {

    margin-left: 2.4rem;
}


input[type="checkbox"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font: inherit;
    appearance: none;
    border: 0.1rem var(--white-plae) solid;
    border-radius: 0.15rem;
    transform: translateY(-0.075rem);
}


/* Revert back here */
input[type="checkbox"]::before {
    content: "";
    width: 2rem;
    height: 2rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--bright-green);
    transform-origin: bottom left;
    background-image: url(../../assets/images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
}


input[type="checkbox"]:checked::before {
    transform: scale(1);
}