.container {
    background-color: var(--light-black);
    display: flex;
    align-items: center;
    justify-content: center;
}


.generate_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47.6rem;
    height: 6.5rem;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    background-color: var(--bright-green);
    color: var(--light-black);
    border-color: var(--bright-green);
    font-size: 1.8rem;
    text-transform: uppercase;
    border-style: outset;

    cursor: pointer;
}

.generate_btn:hover {
    border-style: outset;
    border-color: var(--bright-green);
    background-color: var(--light-black);
    color: var(--bright-green);
}

.arrow {
    margin-left: 2.4rem;
}