.container {
    width: 47.6rem;
    height: 6.5rem;
    margin: 3.2rem;
}

.generate_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
    background-color: var(--bright-green);
    color: var(--light-black);
    border: none;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.arrow {
    margin-left: 2.4rem;
}