.App {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Check this height should be 100vh but converted to fit current css */
  height: 60rem;

}

.app_name {
  font-size: 2.4rem;
  color: var(--light-black);

}

.password_generated {
  display: flex;
  width: 54rem;
  height: 8rem;
  padding: 1.9rem 3.2rem 1.9rem 3.2rem;
  justify-content: space-between;
  background-color: var(--light-black);
  align-items: center
}

.password {
  font-size: 3.2rem;
  color: var(--grey-blue);
  text-transform: uppercase;
}

.copy_btn {
  width: 2.1rem;
  height: 2.4rem;
  border: none;
  background-color: transparent;
}