.App {
  font-size: 2rem;
  width: 54rem;
  /* background-color: var(--light-black); */
  color: var(--white-plae);
  margin-top: 3.1rem;
  background-color: var(--black);

}

.app_name {
  font-size: 2.4rem;
  color: var(--grey-blue);
  margin-top: 13rem;
  text-align: center;
}

.password_generated {
  display: flex;
  padding: 1.9rem 3.2rem 1.9rem 3.2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  background-color: var(--light-black);

}

.password {
  font-size: 3.2rem;
  color: var(--white-plae);
  text-transform: uppercase;
}

.copy_btn {
  width: 10.1rem;
  height: 2.4rem;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#copied {
  color: var(--bright-green);
  margin-right: 1.3rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 500;

}