.App {
  font-size: 2rem;
  width: 54rem;
}

.app_name {
  font-size: 2.4rem;
  color: var(--light-black);
  margin-bottom: 1.8rem;
  text-align: center;
}

.password_generated {
  display: flex;
  padding: 1.9rem 3.2rem 1.9rem 3.2rem;
  justify-content: space-between;
  /* background-color: var(--light-black); */
  align-items: center
}

.password {
  font-size: 3.2rem;
  color: var(--grey-blue);
  text-transform: uppercase;
}

.copy_btn {
  width: 2.1rem;
  height: 2.4rem;
  border: none;
  background-color: transparent;
}