@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
  --light-black: rgb(36, 35, 44);
  --grey-blue: rgb(128, 124, 146);
  --white-plae: rgb(230, 229, 234);
  --black: rgb(24, 23, 31);
  --bright-green: rgb(164, 255, 175);
  --bright-red: rgb(246, 74, 74);
  --pale-orange: rgb(251, 124, 88);
  --pale-yellow: rgb(248, 205, 101);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {

  font-family: 'JetBrains Mono', monospace;
  font-size: 62.5%;

}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Check this height should be 100vh but converted to fit current css */
  height: 60rem;
}